canvas {
    border: 1px solid black;
    image-rendering: pixelated;
    width: 95%;
    height: 95%;
}

img {
    image-rendering: pixelated;
}

#decode_preview {
    /* width: 25vw; */
    height: 25vw;
}