img.pixelated {
    image-rendering: pixelated;
}

img.bordered {
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
    image-rendering: pixelated;
    width: 95%;
    height: 95%;
}

/* Center Menu */
.ui.menu.center.aligned a:first-child {
    margin-left: auto;
}
  
.ui.menu.center.aligned a:last-child {
    margin-right: auto;
}